body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

h1{
    color: #fff;
    font-family: sans-serif;
    font-size: 250px;
    animation: animate 0.5s linear infinite;
}

@keyframes animate{
    0%, 100%{
        text-shadow: -3px -3px 0 #0ff, 3px 3px 0 #f00;
    }

    25%{
        text-shadow: 3px 3px 0 #0ff, 3px -3px 0 #f00;
    }

    50%{
        text-shadow: 3px -3px 0 #0ff, -3px 3px 0 #f00;
    }

    75%{
        text-shadow: -3px 3px 0 #0ff, 3px -3px 0 #f00;
    }
}